* {
    font-family: Manrope, serif;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: #f4f4f4;
}

main {
    flex: 1
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 13px;
    background-color: #333333;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #333333;
}

.footer-text {
    font-weight: 500;
    color: #ffffff;
}